<section class="cart_section">
  <h2>Cart</h2>
  <div class="table-responsive">
    <table>
        <tr>
          <th>Image</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sub Total</th>
          <th>Remove Item</th>
        </tr>
        <tr>
          <td><img src="../../assets/product/p2.jpg"></td>
          <td>100</td>
          <td><button class="btn"><i class="fa fa-plus"></i></button>
            <span>1</span>
            <button class="btn"><i class="fa fa-minus"></i></button></td>
          <td>100</td>
          <td>Remove</td>
        </tr>

    </table>
  </div>
</section>
